@model PagedList.PagedList<WebBanHoa.Models.EF.News>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<!-- Slider -->
<style>
    .news_section_container {
        margin-top: 180px;
    }

    .row-item-new {
        margin-bottom: 20px;
    }

    .title-news {
        font-size: 24px;
        border-bottom: 1px solid;
        padding: 15px 0;
        margin-bottom: 25px;
    }

    .img-box img {
        width: 250px;
        height: 150px;
    }

    .text-box {
        height: 150px;
        overflow: hidden;
        padding: 5px;
        text-align: justify;
    }
    .description-box {
        height: 7.2em;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.2em;
    }

    .pagination-container {
        margin-top: 20px;
    }

    .pagination {
        display: inline-block;
        margin-bottom: 0;
    }

        .pagination > li {
            display: inline;
        }

            .pagination > li > a,
            .pagination > li > span {
                position: relative;
                float: left;
                padding: 6px 12px;
                margin-left: -1px;
                line-height: 1.428571429;
                text-decoration: none;
                background-color: #fff;
                border: 1px solid #ddd;
            }

            .pagination > li:first-child > a,
            .pagination > li:first-child > span {
                margin-left: 0;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            .pagination > li:last-child > a,
            .pagination > li:last-child > span {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }

            .pagination > li > a:hover,
            .pagination > li > span:hover,
            .pagination > li > a:focus,
            .pagination > li > span:focus {
                z-index: 2;
                color: #23527c;
                background-color: #eee;
                border-color: #ddd;
            }
</style>
<div class="container news_section_container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title-news">Bài viết</h1>
        </div>
    </div>
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="row row-item-new">
                <div class="col-md-3">
                    <div class="img-box">
                        <a href="" title="@item.Title"><img src="@item.Image" alt="@item.Title" /></a>
                    </div>
                </div>
                <div class="col-md-9 text-box">
                    <div class="content-box">
                        <h4><a href="/@item.Alias-n@(item.Id)" title="@item.Title">@item.Title</a></h4>
                        <div class="description-box">
                            @item.Description
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6 pagination-container" style="text-align:right;">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    }

</div>
